@charset "utf-8";
*{
	padding:0px;
	margin:0px;
}
.from_main {
	color: #000;
	height: 400px;
	width: 500px;
	background-color: #9DB1B5;
	
}
.xueshengdenglu {
	height: 40px;
	padding-top: 10px;
	padding-left: 50px;
	color: #8000FF;
}
.jiaoshirukou {
	color: #36F;
	margin-right: 50px;
	margin-top: 30px;
}


.loginbutton {
	width: 400px;
	height: 50px;
	color: #FFF;
	background-color: #6060FF;
	font-size: 30px;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-top: 10px;
}

.maindiv {
	margin-top: 80px;
}


.sousuokuang {
	width: 400px;
	border: 1px solid #000;
	height: 50px;
	color: #000;
	margin-top: 20px;
}
